*{
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: url(/images/wendemobg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100hv;
    margin: 0;
    backdrop-filter: blur(15px);

}

.Gnav  {
    display: flex;
    justify-content: space-around;
    align-content: center;  
    padding: 14px;
    background-color: #271c20be;
    border-bottom-left-radius:30px;
    z-index: 1;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
}

.Gnav a{
    text-decoration: none;
    font-size: 17px;
    color: #dec9c9;
    text-transform: uppercase;
    padding: 1.8px 13px 1.8px;
    background-color:#775c4ea5;
    border-radius: 8px;

}

.servic{
    font-size: 15px;
}

.Gnav a:hover{
    background-color:#775c4e3a;
    border-right:1px solid rgb(194, 155, 78);
    border-bottom:1.5px solid rgba(194, 155, 78, 0.397);
}

.firstnav{
    margin: 0px 0px 0px 200px;
}

.secondnav{
    margin: 0px 0px 0px 0px;

}
.firstnav a{
    padding: 0px 10px 0px 10px;
}

.secondnav a{
    padding: 0px 10px 0px 10px;
}

.secondnav{
    margin: 0px 10px 0px 10px;
 
}


@media (min-width:100px) and (max-width:300px) {
    .body{
        background-color: white;
    }
    .firstnav {
        display: none;
    }

    .secondnav{
        display: flex;
        margin-right: 80px;
        border: 1px solid red;
        width: 120px;
}

}
@media (min-width:423px) and (max-width:532px){
    body{
        background-color: white;
    }

    .firstnav{
        display: none;
    }


}
/* 
@media (max-width:500px) {


    body{
        background-color: rgb(157, 174, 171);
    }

    .Gnav a{
        font-size: 10px;
        padding: -30px;

    }

    .firstnav{
  
        margin-left: -40%;
        margin-top:30px ;
        
    }

    .secondnav{
   
        margin-top: -20px;

    }
} */

@media  (max-width:300px)  {
    body{
        background-color: yellow;
    }

   .firstnav{
            display: none;

   }

    .Gnav{
        display: flow-root;
        /* margin-left: -7px; */
        margin: auto;
        padding: -19px;
    }
    
    
    .Gnav a{
        font-size: 9px;
        justify-content: center;

        /* background-color: pink; */

    }



    .secondnav{
        margin-top: 5px;
        margin-bottom: -7px;
 
    }

    .secondnav a{
        margin: 0px 18px 0px;
        font-size: 7px;
        text-align: center;
    }

    .secondnav a:last-of-type{
        padding-top: 3.5px;
        /* background-color: black; */
    }
}

@media (min-width:300px) and (max-width:600px)  {
    body{
        background-color: yellow;
    }

   .firstnav{
            display: none;

   }

    .Gnav{
        display: flow-root;
        /* margin: auto; */
    }
    
    
    .Gnav a{
        font-size: 13px;
        padding:3px 10px 3px;
        

        justify-content: center;

        /* background-color: pink; */

    }

    .secondnav{
        /* margin-top: -2px; */
        margin-bottom: -7px;
        margin: 4px 10px;
        margin-left:   40px;
       margin-bottom: 10px;

 
    }

    .secondnav a{
        margin: 0px 30px 4px;
        font-size: 12px;
        text-align: center;
    }


}
@media  (min-width:790px) and (max-width:950px)  {

    body{
        background-color: blue;
    }
    .Gnav{
        display: flow-root;
    }


    .firstnav{
        margin-left:270px ;
        width:500px;
    }

    
    .Gnav a{
        font-size: 13px;
        /* padding: -20px; */

    }
    .firstnav a{
        margin: 0px 80px 0px;

    }

    .service{
        margin-left: 15px;
    }

    .secondnav{
        margin-top: 5px;
        margin-left: 130px ;
        width: 80%;
    }

    .secondnav a{
        display:inline-flex ;
        justify-content: space-around;
        margin: 0px 60px 0px;
 
    }

    .divTwo{
        width: 80%;
    }
}

@media  (min-width:572px) and (max-width:795px)  {
    body{
        background-color: red;
    }

    .service{
        margin-bottom: -12px;
    }

    .Gnav{
        display: list-item;
        padding: 12px ;
    }
    .firstnav{
        width: 260px;
        margin-left: 350px;
    }


    .secondnav a{
        margin: 0px 50px 0px;
        font-size: 13px;

    }

    .firstnav a{
        margin: 0px 35px 0px;
        font-size: 11px;

    }
}


.brandName{
    color:  #0a6194;
}

#brandname{
    color:  #0a6194;

}

.theContainer{
    border: none;
    backdrop-filter: blur(20px);
    background: linear-gradient(120deg,#271c2080, #181416 );
}

.sumsttingDiv{
    background-color:  #1914167b;
    border: none;
}

.sumsttingDiv:hover{
    background-color:  #191416cf;
    color:  #857b7f9e;


}

.divTwo{
    border: none;
}

.divthree{
    border: none;
}

.service{
    background: linear-gradient(150deg,#271c2078, #3c8bbc50 );
}

.service:hover{
    background: linear-gradient(120deg,#271c201b, #3c8bbc8f );

}

@media (max-width:574px) {
    .theContainer{
        border: 1px solid #0a6194;
        margin: 20px;
        padding: 15px;
        border-radius: 12px;
    }

    .brandName{
        font-size: 45px;
        margin: 14px 0px 0px 10%;
        aspect-ratio: 32/4;
        width: 80%;
        transition:transform 2s, 6s ,ease;

        cursor: pointer;
    }


    .brandName:hover{
        transform:scale(1.2 ) ;
        transition: all 700ms ease-in-out;

    }
    #brandName{
        font-size: 25px;
        margin:0px 0px 0px 14%;
        padding: 0px 0px -20px;
        aspect-ratio: 32/4;
        width: 80%;
        letter-spacing: 9px;
        cursor: pointer;
        transition:transform 2s, 6s ,ease;
        cursor: pointer;
        color:  #0a6194;



    }

    button{
        background-color: #514b4e9d;
        padding: 7px;
        font-size: 12px;
        margin: 0px 25px 0px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0px 0px 0px;
    }

    #brandName:hover{
        transform:scale(1.1 ) ;
        transition: all 700ms ease-in-out;
    }

    #typeWrite{
        margin: 0px 0px 0px 30px;
    }
    
    .typeWriteParagraph{
        text-align: start;

    }

    .creatAccLink{
        border-radius:8px ;
        padding: 0px 2px 0px;
        text-decoration: none;
        color: #341313;
        text-transform: uppercase;
        font-style:italic ;
        border-radius: 8px;
        
    
     }
    
    .links{
        margin-left: 120px;
        width: 150px;
        border-radius: 8px;

    }

     .creatAccLink:hover{
        color: #000;
        transform: rotate(360deg);
        transition: 0.5s ease-in-out;
        background-color: #21110811;
     }

    img{
        width: 90%;
        margin:10px 10px 10px;
        border-radius: 8px;
        object-fit: contain;
    }
    


    p{
        text-align: center;
    }

    button{
        background-color: #514b4e9d;
        padding: 7px;
        font-size: 12px;
        margin: 0px 25px 0px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0px 0px 0px;
    }
      
    button:hover{
        transform: rotate(10deg);
        transition: 12sec ease-in-out;
    }

    .service {
        background-color: #1e1c1cea;
        padding: 14px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0px 0px 0px;
        margin: auto;
    }
    
    .service:hover{
        /* background-color:  #191416a1; */
        transition: 12sec ease-in-out;
        border-radius:13px ;
    }
    
    .service h2   {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .service a{
        text-decoration: none;
        text-align: center;
        color: #ffffffa0;
    }
    
    .sumsttingDiv{
        width: fit-content;
        margin: 15px;
        aspect-ratio: 10/5;
        padding: 10px;
        border-radius: 6px;
        color:  #857b7f9e;

    }
    
    .sumsttingDiv::before{
        height: 150px;
        width: 250px;
        transition: all 0.7s;
    }

    .sumsttingDiv:active:before{
        background: transparent;
        transition: background 0s;
    }
    
    .otherNav{
        width:50% ;
        margin: 0px 25% 0px;
        padding: 4px 4px;
        border-radius: 12px;
        text-decoration: none;
        color: #341313;
        text-transform: uppercase;
        font-style:italic ;
        border-radius: 8px;
    }

    
}

@media (min-width:574px) and  (max-width:992px) {


    .theContainer{
        margin: 20px;
        padding: 15px;
        border-radius: 12px;
        border: 1px solid #0a6194;

    }

    /* .divOne {

    } */

    .brandName{
        font-size: 65px;
        margin: 14px 0px 5px 0%;
        width: 60%;

    }


    
    .brandName{
        font-size: 45px;
        margin: 14px 0px 0px 7%;
        aspect-ratio: 32/4;
        width: 80%;
        letter-spacing: 5px;
        transition:transform 2s, 6s ,ease;
        cursor: pointer;
    }


    .brandName:hover{
        transform:scale(1.2 ) ;
        transition: all 700ms ease-in-out;
    }
    
    #brandName:hover{
        transform:scale(1.2 ) ;
        transition: all 400ms ease-in-out;
        letter-spacing:4px;
        font-size: 35px;
        font-weight: 600;
    }
    #brandName{
        font-size:30px;
        margin:-25px 0px 0px 22%;
        padding: 0px 0px 0px;
        aspect-ratio: 32/4;
        width: 50%;
        letter-spacing: 10px;
        cursor: pointer;
        transition:transform 2s, 6s ,ease;
        cursor: pointer;

    }

    #typeWrite{
        margin: 0px 40% 40px 40px;
    }
    
    .typeWriteParagraph{
        text-align: start;

    }

    .creatAccLink{
          border-radius:8px ;
        display: none;
        padding: 0px 2px 0px;
        text-decoration: none;
        color: #341313;
        text-transform: uppercase;
        font-style:italic ;
        border-radius: 8px;
        
    
     }
    


    .links{
        margin-left: 120px;
        width: 150px;
        border-radius: 8px;

    }

     .creatAccLink:hover{
        color: #000;
        transform: rotate(360deg);
        transition: 0.5s ease-in-out;
        background-color: #21110811;
     }

    img{
        width: 80%;
        margin:10px 10px 10px;
        border-radius: 8px;
        object-fit: contain;
    }
    
    .flexImg{
        margin:10px 45px 10px;
        height: 4%;
        object-fit: contain;

    }


    p{
        text-align: center;
    }

    button{
        background-color: #514b4e9d;
        padding: 7px;
        font-size: 12px;
        margin: 0px 40% 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }


    button:hover{
        transform: rotate(10deg);
        transition: 2sec ease-in-out;
    }

    .service {
        margin: auto;
        flex-grow: 1;
        flex-basis: 150;
    }
    
    .service:hover{
        background-color:  #191416;
         transition: 12sec ease-in-out;
         border-radius:13px ;
         color:  #857b7fe7;
    }
    
    .service h2   {
        font-size: 18px;
        margin: 20px 35% 20px;
    }
    
    .service a{
        text-decoration: none;
        text-align: center;
        color: #ffffffa0;
    }

    .flexItem{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid pink;
    }
    
    .sumsttingDiv{
        flex: 1 1 150px;
        width: fit-content;
        margin: 15px;
        aspect-ratio: 10/5;
        padding: 10px;
        border-radius: 6px;
        color:  #857b7fe7;


    }
    
    .sumsttingDiv::before{
        height: 150px;
        width: 250px;
        transition: all 0.7s;
    }

    .sumsttingDiv:active:before{
        background: transparent;
        transition: background 0s;
    }
    
    .otherNav{
        width:50% ;
        margin: 0px 25% 0px;
        padding: 4px 4px;
        border-radius: 12px;
        text-decoration: none;
        color: #341313;
        text-transform: uppercase;
        font-style:italic ;
        border-radius: 8px;
        display: none;
    }


}

@media (min-width:993px) and  (max-width:1600px) {



    .Gnav{
        padding: 20px;
    }

    .theContainer{
        margin: 20px;
        padding: 15px;
        border-radius: 12px;
        border: 1px solid #0a6194;
    }

    /* .divOne {

    } */

    .brandName{
        font-size: 50px;
        letter-spacing: 6px;
        font-weight: 500;
        margin: 14px 0px 5px 5%;
        width: 40%;
        color:  #0a6194;
    }


    .brandName:hover{
        transform:scale(1.2 ) ;
        transition: all 600ms ease-in-out;
    }
    
    
    #brandName{
        font-size: 45px;
        margin:0px 0px 0px 10%;
        padding: 0px 0px 0px;
        width: 30%;
        letter-spacing: 9px;
        cursor: pointer;
        transition:transform 2s, 6s ,ease;
        cursor: pointer;
    }


    #brandName:hover{
        transform:scale(1.2 ) ;
        transition: all 400ms ease-in-out;
        font-size: 35px;
        font-weight: 600;
    }

    #typeWrite{
        margin: 0px 40% 40px 40px;
    }
    
    .typeWriteParagraph{
        text-align: start;

    }

    .creatAccLink{
        border-radius:8px ;
        display: none;
        padding: 0px 2px 0px;
        text-decoration: none;
        color: #341313;
        text-transform: uppercase;
        font-style:italic ;
        border-radius: 8px;
        
    
     }
    
    .links{
        margin-left: 120px;
        width: 150px;
        border-radius: 8px;

    }

     .creatAccLink:hover{
        color: #000;
        transform: rotate(360deg);
        transition: 0.5s ease-in-out;
        background-color: #21110811;
     }

    img{
        width: 70%;
        margin:10px 10px 10px;
        border-radius: 8px;
        object-fit: contain;
        display: none;
    }


    .divTwo{
        display: flex;
    }
    
    .flexImg{
        width: 20%;
        object-fit: contain;
        display: block;
    }


    p{
        text-align: center;
    }

    .service {
        background-color: #514b4e9d;
        padding: 14px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0px 0px 0px;
        margin: auto;
        flex-grow: 1;
        flex-basis: 150;
        color:  #857b7fe7;

    }

    .service a{
        text-decoration: none;
        text-align: center;
        color: #ffffffa0;
    }
    
    
    .service:hover{
        background-color:  #191416;
         /* transform: rotate(10deg); */
         transition: 12sec ease-in-out;
         border-radius:13px ;
         color:  #857b7fe7;
    }
    
    button{
        background-color: #514b4e9d;
        padding: 7px;
        font-size: 12px;
        margin: 0px 25% 0px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    button:hover{
        transform: rotate(10deg);
        transition: 12sec ease-in-out;
    }
   
   
    #service:hover{
        background-color:  #191416;
         transform: rotate(10deg);
         transition: 12sec ease-in-out;
         border-radius:13px ;
         color:  #857b7fe7;
    }
    .service h2   {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .service a{
        text-decoration: none;
        text-align: center;
        color: #ffffffa0;
    }

    .flexItem{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid pink;
    }
    
    .sumsttingDiv{
        flex: 1 1 150px;
        width: fit-content;
        margin: 15px;
        aspect-ratio: 10/5;
        padding: 10px;
        border-radius: 6px;
    }
    
    .sumsttingDiv::before{
        height: 150px;
        width: 250px;
        transition: all 0.7s;
    }

    .sumsttingDiv:active:before{
        background: transparent;
        transition: background 0s;
    }
    
    .otherNav{
        width:50% ;
        margin: 0px 25% 0px;
        padding: 4px 4px;
        border-radius: 12px;
        text-decoration: none;
        color: #341313;
        text-transform: uppercase;
        font-style:italic ;
        border-radius: 8px;
        display: none;
    }

    #sumDvThree{
        width: 100%;
        height: 320px;
        margin: 0px 0% 0px;
    }


}